/* !body */
body {
  background-image: url(../images/body/bg.webp);
}
/* !header */
header {
  grid-area: header;
  position: fixed;
  top: 0;
  display: flex;
  height: 10rem;

  background-color: white;
  opacity: 0.8;
  width: 100%;
}
.header-container {
  margin: 0 auto;
  max-width: 87.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}
.header-container img {
  width: 14rem;
  height: 7rem;
}

nav {
  font: 500 1.5rem/1.7rem "Permanent Marker";
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  column-gap: 3.5rem;
}
.li-item {
  transition: all 0.3s linear 0.05s;
}
.li-item:nth-child(1)::after {
}
.li-item:hover {
  text-shadow: 1px 1px 2px rgb(185, 130, 130), 0 0 1em rgb(74, 74, 168),
    0 0 0.2em rgb(33, 33, 105);
}
.li-item:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
}

.profile-box {
  font: 500 1rem/1.3rem "Changa";
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
.profile-box div:nth-child(1) {
  grid-column: span 2;
  max-width: 10rem;
}
.login {
  grid-template-columns: span 1;
  max-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: rgb(163, 194, 148);
  transition: all 0.3s linear 0.05s;
  border-radius: 0.3rem;
  color: yellow;
}
.login:hover {
  box-shadow: inset 0 -2em 2em rgb(0 200 0 / 30%),
    0.2em 0.2em 0.5em rgba(159, 199, 50, 0.6);
}
.login:active {
  box-shadow: 2px 2px 5px #93a52d;
  color: rgb(251, 255, 1);
  transition: 0.15s ease out 0.03s;
}
.register {
  grid-template-columns: span 1;
  max-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: rgba(59, 59, 172, 0.904);
  transition: all 0.3s linear 0.05s;
  border-radius: 0.3rem;
  color: white;
}
.register:hover {
  box-shadow: inset 0 -2em 2em rgb(0 200 0 / 30%),
    0.2em 0.2em 0.5em rgba(70, 38, 131, 0.6);
}
.register:active {
  box-shadow: 2px 2px 5px #78269e;
  color: rgb(231, 212, 212);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0.03s;
}

/* !aside */

.sidebar {
  background-color: white;
  padding: 0.2rem 0.3rem 1.5rem;
  opacity: 0.8;
  position: fixed;
  left: 0;
  max-width: 5rem;
  height: calc(100% - 10rem);
}
.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  row-gap: 10px;
}
.sidebar-items {
  width: 65px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: all 0.3s linear 0.05s;
  padding: 0.1rem;
}

.sidebar-items span {
  margin-top: 2px;
  font: 700 10px/1.25 "Rubik", sans-serif;
  color: #520044;
  transition: color, opacity 0.3s;
}
.icon-box {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid rgba(153, 137, 47, 0.15);
  background-color: #c7c7c780;
  transition-property: background-color, border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.icon-box img {
  width: 18px;
  height: 18px;
}
#fandom {
  margin-bottom: 2rem;
}
#land_of_fire {
  width: 48px;
  height: 48px;
}
#land_of_fire img {
  width: 100%;
  height: 100%;
}
#profile {
  margin-top: 4rem;
}
.sidebar-items:hover {
  box-shadow: inset 0 -2em 2em rgba(139, 125, 44, 0.3),
    0.2em 0.2em 0.5em rgba(70, 38, 131, 0.6);
}
/* !main */
main {
  grid-area: main;
  margin-top: 10rem;
  margin-left: 3rem;
}
/* !main (section1) */
.main-container {
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  margin: 0 auto;
  background-color: #494946;
}
.main-text {
  max-width: 20rem;
}
.main-img {
  background-color: #d0d1c9;
  background-image: url(../images/main/main-section/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 20rem;
}

/* !story */
.story-container {
  background-color: #494946;
  max-width: 50rem;
}
.story-container div:nth-child(1) {
  width: 20rem;
}
.story-container div:nth-child(2) {
  width: 20rem;
}
.story-container div:nth-child(2) img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* !footer */
footer {
  height: 2rem;
  background-color: #78269e;
  position: fixed;
  bottom: 0;
  width: 100%;
}
